{{ define "main" }}

<nav>
    <a href="/">🏃‍♂️ Home</a>
</nav>

<main>
    {{ if hasPrefix .RelPermalink "/tags/" }} <h1> Catatan developer tentang {{ .Title }} </h1> <br> {{end}}

    {{ range .Pages }}
        <div>
            <p> <a href="{{.Permalink}}"> {{.Title}} </a> </p>
            <p> {{.Params.Description}} </p>
            <ul>
                <small>
                    {{ partial "tags" .}}
                    {{ .Date.Format "Mon Jan 2, 2006" }}
                </small>
            </ul>
        </div> <br><br>
    {{ end }}
</main>

{{ end }}