{{ define "main" }}

<nav>
    <a href="/">🏃‍♂️ Home</a>
</nav>

<main>
    {{ if hasPrefix .RelPermalink "/tags/" }} <h1> Catatan developer tentang {{ .Title }} </h1> <br> {{end}}

    {{ range .Pages }}
        <div class='mb-10'>
            <p> <a href="{{.Permalink}}"> {{.Title}} </a> </p>
            <p> {{.Params.Description}} </p>
            <ul>
                <small>
                    {{ range (.GetTerms "tags") }}
                    <li class='labels'><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
                    {{ end }}
                    {{ .Date.Format "Mon Jan 2, 2006" }}
                </small>
            </ul>
        </div>
    {{ end }}
</main>

{{ end }}