{{ define "main" }}

<section>
    <nav>
    <a href="/">🏃‍♂️ Home</a>
    </nav>
    
    <h1>{{ .Title }}</h1>
    <div class='article'> {{ .Content }} </div>
    <ul>
        <small>
            {{ partial "tags" .}}
            {{ .Date.Format "Mon Jan 2, 2006" }}
        </small>
    </ul>
    
    <hr>
    <p>
        Terima kasih sudah membaca! <br>
        <a href="https://tinyletter.com/jurnaldev" target="_blank">✉️ Berlangganan email</a> saat ada konten baru.
    </p>
    <br><br>


</section>

{{ partial "highlightjs.html"}}

{{ end }}