{{ define "main" }}
    <p class='is-bold is-l mb-5'>Halo! saya <a href="https://hilman.space"> Hilman</a>.. <br> ini adalah Jurnal dan Kanvas saya seputar dunia koding</b></p>
    
    <p>
        <a href="https://tinyletter.com/jurnaldev" target="_blank">✉️ Berlangganan email</a> saat ada konten baru.
    </p>

    <p>
        🔗 Koleksi <a href="https://webcrate.hilmanski.deta.app/crate/public/VKx1LxpKe0GWLDy5" target="_blank">link menarik</a>
    </p>
    
    <hr>

    <p class='mb-15'>🪐 Tulisan dan playground:</p>
    {{ range .Site.RegularPages }}
    <div class='mb-15'>
        <p> <a href="{{.Permalink}}"> {{.Title}} </a> </p>
        
        <ul>
            <small>
            {{ partial "tags" .}}
            {{ .Date.Format "Mon Jan 2, 2006" }}
            </small>
        </ul>
    </div>
    {{ end }}

    <hr>
    <p class='mb-15'>🕸 Link proyek berjalan:</p>
    <li class='mb-15'><a href="https://bikin.club/">Bikin-bikin Club[beta] - tempat diskusi untuk yang suka bikin-bikin</a>
    </li>
    <li class='mb-15'><a href="https://freestuff.dev/">FreeStuffDev, Daftar Service/tool gratis untuk Developer</a> </li>
    <li class='mb-15'><a href='https://pulo.dev'>PuloDev, Kumpulan konten developer Indonesia</a></li>
    <li class='mb-15'><a href='https://sekolahkoding.com/'>Belajar koding mulai dari nol di sekolahkoding.com</a></li>


    <footer>
        <span>Halo!</span>
        <a href="https://tinyletter.com/jurnaldev">/Newsletter</a>
        <a href="/index.xml">/RSS</a>
        <a href="/sitemap.xml">/Sitemap</a>
    </footer>
{{ end }}